mixin contentBox(content, title, buttonText, image)
	if content == 'banner'
		a(href='#')
			if title				
				img(src='http://placehold.it/#{title}')
			else
				img(src='http://placehold.it/370x370')		
	else
		if title
			h3.title
				a(href='#')= title
		if image				
				img(src='http://placehold.it/#{image}')
			else
				img(src='http://placehold.it/370x370')		
		div.content
			if block
				block
		if buttonText
			a.button(href='#')= buttonText

mixin product-list()
	for product in products
		.item
			.product-box
				a(href='#')
					img(src='http://placehold.it/370x370/FAFAFA/000000' class='product-image img-responsive')
					span.product-title #{product.name} 
					span.product-price #{product.promo} <sup> RON </sup>
					span.product-old-price #{product.price} <sup> RON </sup>
					span.product-button Adauga in cos
mixin filter-size()
	for product in products
		li
			a(href='#') #{product.size}					